{% extends 'base.html' %} 

    {% block content %}

        <h1><u>Home</u></h1>
        <a href="{% url 'create_post' %}">Create New Post</a>

        {% for post in posts %}
        <h1>{{post.title}}</h1>
        <i>{{post.author}}</i>
        <p>{{post.content}}</p>
        <b>{{post.published_at}}</b>

        
        {% if request.user.is_authenticated and request.user == post.author %}
            <p>
                <a href="{% url 'edit_post' post.id %}">Edit</a>
                <a href="{% url 'delete_post' post.id %}">Delete</a>
            </p>
        {% endif %}
            
        <hr />
    {% endfor %} 
{% endblock content %}
